html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.header-nav {
    background-color: black;
    transition-property: top;
    transition-timing-function: ease-in;
    transition-duration: 300ms;
}

.splash-screen {
    min-height: calc(100vh - 5rem);
}

.hand-wrapper:hover img {
    filter: saturate(0.8);
}

.moving-bg {
    outline: 2px solid green;
    width: calc(1* 3060px);
    background-image: url(./assets/images/bg-memoji.png);
    /* background-image: url(./assets/images/bg-memoji.png), linear-gradient(to right, rgba(0, 0, 255, 0.2) 30%, rgba(56, 56, 56, 0.5) 70%); */
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
    background-size: cover;
    /* background-blend-mode: overlay; */
}

.moving-bg::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(315deg, rgba(10,10,10, 1) 20%, rgba(42, 42, 124, 1) 100%);
    opacity: 0.8;
    background-repeat: no-repeat;
}

.transparent-text {
    /* background: linear-gradient(145deg, rgb(236, 197, 146), rgb(120, 151, 153)); */
    /* background: linear-gradient(145deg, #efefef, #cdcdcd); */
    background-color: #eee;
    /* -webkit-text-fill-color: transparent; */
    mix-blend-mode: screen;
    color: black;
	box-shadow: 
        0.05em 0.05em 0.1em rgb(120, 151, 153), 
		-2px -2px 6px rgb(236, 197, 146);
    /* animation: vetoFlick 3s linear infinite; */
}

.bouncy-hand {
    transform: rotate(-180deg) ;
    animation: bouncyHand 3s ease-in-out infinite;
}

.scroll-snap-child {
    /* position: relative; */
    scroll-snap-align: start;
}

@keyframes vetoFlick {
    40% {
        background: linear-gradient(145deg, rgb(236, 197, 146), rgb(120, 151, 153));
    }
    41% {
        background: none;
    }
    50% {
        background: linear-gradient(145deg, rgb(236, 197, 146), rgb(120, 151, 153));
    }
}

@keyframes bouncyHand {
    0% {
        transform: translateY(0) ;
    }
    50% {
        transform: translateY(10px) ;
    } 
    100% {
        transform: translateY(0) ;
    }
}

@keyframes animatedBackground {
    from { background-position: 0px 0; }
  to { background-position: calc(1* -3060px) 0; }
}